/* Code pour la moification du header */

#site-header.minimal-header.clr {
    background-color: white;
}

div#site-logo-inner.clr {
    padding: 15px 0px;
    margin: 0px 10px ;
}

.custom-logon {
    margin: 0px 10px;
}

.text-wrap {
    color : black;
    font-size: 17px;
    font-family: 'Syne', sans-serif;
}

.text-wrap:hover {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

#menu-item-17.menu-item-type-post_type{
    padding : 7px 0px;
}

#menu-item-18.menu-item-type-post_type{
    background-color: #DC9F96;
    padding : 7px 50px;
}

#menu-item-18.menu-item-type-post_type:hover{
    background-color: #C02E44;
    font-style: normal;
}

#menu-item-18.menu-item-type-post_type .menu-link .text-wrap{
    color: white;
    font-family: 'Syne', sans-serif;
    font-style: normal;
}


/* Code pour la modification du footer */

.menu-footer-container a {
    font-family: 'Syne';
    font-size: 18px ;
}

.footer-bottom.clr {
    text-align: center;
}

/* Code pour la modification du hero header */

.hero-header {
    background-color: #ECE2DA;
    border-bottom-left-radius: 50% 75px;
    border-bottom-right-radius: 50% 75px;
}

    


.hero-header >div {
    max-width: 1200px;
    margin: 0 auto;
}

.accueil-titre {
    color: #3D9448;
    font-family: 'Syne';
    font-size: 40px;
    font-weight: 800;
}

.image-c {
    position: relative;
    z-index: 3;

}
.image-a {
  position: absolute;
  z-index: 1;
  right: 350px;
  left:0px ;
  top: 250px;
  
  }

.image-b {
    position: absolute;
    z-index: 2;
    top: 250px;
    right: 260px;
   
}

.section-2 {
    text-align: center;
}

.titre-2 {
    margin-top: 50px;
    color: #3D9448;
    font-family: 'Syne';
    font-size: 28px;
}

.para-2 {
    margin-top: 20px;
    font-family: 'Syne';
    font-size: 20px;
    color: black;
    line-height: 0.3;
}

.s3 {
    background-color: #ECE2DA;
    margin-top: 75px;
}

.titre-3 {
    font-family: 'Syne';
    font-size: 30px;
    color: #D2776A;
    font-weight: 800;
}

.galerie-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    
    

}

.img {
    flex: 0 0 calc(50% - 10px);
    
    
    
}

