/* Code pour la moification du header */

#site-header.minimal-header.clr {
    background-color: white;
}

div#site-logo-inner.clr {
    padding: 15px 0px;
    margin: 0px 10px ;
}

.custom-logo {
    margin: 0px 30px;
}

.custom-logo:hover {
    opacity: 1!important;
}

#menu-principal.main-menu.dropdown-menu.sf-menu  {
    display: flex!important;
}

.text-wrap {
    color : black;
    font-size: 16px;
    font-family: 'Syne', sans-serif;
}

.menu-link:active {
    border: 0px !important;
}

.menu-link:nth-child(2) {
    order: 3!important;
}


#menu-item-17.menu-item-type-post_type .menu-link {
    padding : 7px 10px;
    
}

.menu-link {
    font-size: 16px!important;
    color: black!important;
}

.admin {
    
    padding: 7px 50px 0px 40px!important;
   
}

.admin:hover {
    font-style: italic;
    font-size: 13px!important;
    font-weight: 700;
}



#menu-item-17.menu-item-type-post_type .text-wrap:hover {
    font-style: italic;
    font-weight: 700;
    font-size: 13px!important;
    line-height: 15.6px;
    margin-bottom: 100px!important;
}

#menu-item-18.menu-item-type-post_type .menu-link{
    background-color: #DC9F96;
    padding : 7px 75px;
    
}

.menu-item-type-post_type:nth-child(2) {
    order: 3;
}


#menu-item-18.menu-item-type-post_type .menu-link{
    order: 3!important;
}

#menu-item-18.menu-item-type-post_type .menu-link:hover{
    background-color: #C02E44;
    font-style: normal;
}

#menu-item-18.menu-item-type-post_type .menu-link .text-wrap{
    color: white;
    font-family: 'Syne', sans-serif;
    font-style: normal!important;
    font-weight: 700;
}


/* Code pour la modification du footer */



.menu-footer-container   {
    font-family: 'Syne';
    font-size: 18px ;
    display: flex;
    justify-content: center;
}

.container.clr {
    display: flex;
    justify-content: center;
    padding: 0px!important;
}

.oceanwp-row {
    padding: 0px!important;
}

/* Code pour la modification du hero header */

.hero-header {
    background-color: #ECE2DA;
    border-bottom-left-radius: 50% 75px;
    border-bottom-right-radius: 50% 75px;
}

    


.hero-header >div {
    max-width: 1200px;
    margin: 0 auto;
}

.accueil-titre {
    color: #3D9448;
    font-family: 'Syne';
    font-size: 40px;
    font-weight: 800;
}

.image-c {
    position: relative;
    z-index: 3;

}
.image-a {
  position: absolute;
  z-index: 1;
  right: 550px;
  left:145px ;
  top: 350px;
  
  }

.image-b {
    position: absolute;
    z-index: 2;
    top: 350px;
    right: 255px;
   
}

.section-2 {
    text-align: center;
}

.titre-2 {
    margin-top: 70px;
    color: #3D9448;
    font-family: 'Syne';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.para-2 {
    font-family: 'Syne';
    font-size: 20px;
    color: black;
    line-height: 0.3;
}

.s3 {
    background-color: #ECE2DA;
    margin-top: 75px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}

.titre-3 {
    font-family: 'Syne';
    font-size: 30px;
    color: #D2776A;
    font-weight: 800;
}

.galerie-1 {
    gap: 30px;
    margin-top: 100px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0px auto;
   
}

.img {
    max-height: 40px;
    max-width :393px!important;
    width: 393px!important;
    object-fit: cover;
}

.wp-block-cover__image-background{
    object-fit: contain;
}


.colonnnee {
    margin-bottom: 75px;
}


.img-p {
    font-family: 'Syne';
    line-height: 0.8;
    font-weight: 600;
    font-size: 40px;
    color: white;
    
}

.is-style-fill {
    font-family: 'Syne';
    
}


.wp-block-button__link {
    padding: 15px 60px;
    margin: 50px 0px;
}

.wp-block-button__link:hover {
   background-color: #C02E44!important;
}

.titre-4 {
    font-family: 'Syne';
    color: #3B8E46 ;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 75px ;
}




.article-1 {
    font-family: 'Syne';
    color: #3B8E46;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:10px ;
    
}

.para-3 {
    font-family: 'Syne';
    color: black;
    font-size: 16px;
   line-height:1.2 ;
   max-width: 330px;
   
}

/* Code css pour la page "Nous rencontrer" */

.nous-ren {
    background-color:#ECE2DA;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 50% 100px;
    border-bottom-right-radius: 50% 100px ;
}

.wp-image-33 {
    
    margin-left: 100px;
   

    
}

.feuill {
    margin-right: 100px;
    margin-top: 80px;
    position: absolute;
    margin-left: 125px;
    max-width: 1400px;
}

.nous-ren-sec {
    max-width: 1400px;
}

.nous-titre {
    font-family: 'Syne';
    font-size: 38px;
    color: #D2776A;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 150px;
    
}

.nous-para {
    font-family: 'Syne';
    font-size: 20px;
    color: black;
    line-height: 0.2;
    text-align: center;
}

.nous-ren-col{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
}

.nous-ren-titre2 {
    font-family: 'Syne';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.nous-feuille {
    z-index: 1;
    position:absolute;
    margin-right: 250px;
    margin-left: 100px;
   
}

.article-titre2 {
    font-family: 'Syne';
    font-size: 20px;
    color: black;
    font-weight: 700;
    text-align: center;
}

.article-para-2 {
    font-family: 'Syne';
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 0.8;
}

.wpforms-field-small{
    max-width: 100%!important;
    width: 383px!important;
    height: 71px!important;
}

.wpforms-field-large{
    max-width: 100%!important;
    width: 383px!important;
    height: 237px!important;
}

#main #content-wrap {
    padding-top: 0px!important;
}

.form {
    background-color: #ECE2DA;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-left: 100px;
}

.formm{
    position: relative;
    z-index: 1;
}

.form-titre {
    margin-top: 60px;
}

.sub {
    text-transform: none!important;
    font-size: 15px!important;
    font-weight: 400!important;
    padding: 24px 70px 35px 70px!important;
    letter-spacing: normal!important;
    border: none!important;
}

#wpforms-submit-197.wpforms-submit:hover {
    background: #C02E44!important;
   }


.wpforms-submit-container {
   margin-left: 100px!important;
}

.form-img {
    z-index: 1;
    position: absolute;
    margin-top: 450px;
    margin-left: 495px;
}

.widg {
    background-color: #ECE2DA;
}

.nous-ren-col {
    background-image: url('../images/feuille.png');
    margin-bottom: 0px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: 190px auto;
    background-position: bottom 0px right 0px;
    
}


/* Code pour la page de commande */

.commande-div {
    display: flex;
    justify-content: center;
    
}

.commande-titre {
    margin-bottom: 50px;
}

.wp-block-group__inner-container .is-layout-constrained .wp-block-group-is-layout-constrained {
    border-top: solid white 1px ;
    border-bottom: solid white 1px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


.is-style-wide {
    width: 1200px!important;
}

.commande-img {
    width: 192px;
    height: 128px;
}


.commande-para {
    line-height: 0.2;
}

input.wpcf7-form-control  {
   color: red;
}

.form-commande {
    max-width: 1200px;
    display: flex;
    justify-content: center;
}


.commande-form-titre {
    color: white;
    font-size: 20px;
    
}

.colonne1{
    
    width: 383px;
    max-width:700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
   
}

.colonne2 {
    
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border-left: 1px solid white;
    margin-left: 30px;
}


.form-label {
    background-color: white!important;
    max-width: 400px!important;
    width: 383px!important;
    height: 75px!important;
    border-radius: 7px!important;
    margin-bottom: 0px!important;
}

.wpcf7-validates-as-required{
    background-color: white;
}


.formu-titre {
    color: white;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}

.formu-titr {
    font-size: 30px;
    color: white;
}

.form-wrap {
    display: flex;
    gap : 20px;
    width : 100%;
    margin-top: 50px;
    
}

.bg-green {
    display: flex;
    justify-content: center;
}



.grp-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    
}

.l{
    text-align: center;

}

.wpcf7-number {
    background-color : white!important;
    text-align: center;
}

.numero {
    text-align: center;
    max-width: 39px!important;
    height: 56px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 0px!important;
    margin-left: 75px;
    padding-left: 8px!important;
}

.wpcf7-validates-as-number {
    justify-content: center!important;
}


.titre_image {
    border-top: 1px solid white;
    padding-top: 40px;
}


.wpcf7-submit {
    background-color: #E0B9B4!important;
    border: none!important;
    border-radius: 5px;
    margin-left: 345px!important;
    margin-top: 30px!important;
    padding: 20px 50px!important;
    text-transform: capitalize!important;
    font-weight: 400!important;
    font-size: 15px!important;
    margin-bottom: 100px!important;
    

}

.wpcf7-submit:hover {
    background-color: #C02E44!important;
}


@media (min-width: 901px) and (max-width: 1024px) {

    body {
        overflow-x: hidden;
        
    }

    #site-header-inner.clr {
        max-width: 1024px!important;
    }

   .article-1 {
    font-size: 30px;
   }

   .para-3 {
    font-size: 13px;
   }
    
    .galerie-1 {
        display: flex!important;
       
        align-items: center!important;
        
    }

    .img {
        width : 350px!important
    }

    .wp-block-cover__background .has-background-dim-0 .has-background-dim  {
        width: 100%!important;
        max-width: 500px;
        object-fit: cover!important;
    }

    .img-p {
        font-size: 43px!important;
    }

    .image-a {
        display: none;
    }

    .image-b {
        display: none;
    }

    .nous-titre {
        margin-top: 1em!important;
    }

    .nous-para {
        line-height: 0.8;
    }

    .absolute {
        display: flex;
        justify-content: center;
        margin-right: 350px!important;
       
       }

    .sub {
        display: flex;
        justify-content: center;
        
        
    }

    .feuill-colonne {
        visibility: hidden;
    }

    .feuill {
        display: none;
    }

    .formm {
        display: flex;
        justify-content: center;
    }

    .form-img{
        visibility: hidden;
    }

    .colonnee{
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .grp-images {
        max-width: 750px!important;
        width: 750px!important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
     
        align-items: center;
        
    }

    .grp-images img {
        width: 300px!important;
        display: flex;
        align-items: center;
    }

    

    .colonne1 {
        width: 300px!important;
        margin-left: 30px;
       
    }

    .colonne2 {
        margin-left: 20px!important;
    }

    .form-label {
        width: 300px!important;
    }

    .numero {
        margin-left: 63px!important;
        margin-top: 0px;
    }

    .nous-ren-col {
        background-image: none;
    }

    .wpcf7-submit {
        margin-left: 270px!important;
    }

    .l {
        font-size: 35px;
        text-align: start;
    }
    
   
}

@media (min-width: 781px) and (max-width: 900px) {

    body {
        overflow-x: hidden;
        
    }

    #site-header-inner.clr {
        max-width: 1024px!important;
    }

   .article-1 {
    font-size: 20px;
   }

   .para-3 {
    font-size: 12px;
   }
    
    .galerie-1 {
        display: flex!important;
       
        align-items: center!important;
        
    }

    .img {
        width : 350px!important
    }

    .wp-block-cover__background .has-background-dim-0 .has-background-dim  {
        width: 100%!important;
        max-width: 500px;
        object-fit: cover!important;
    }

    .img-p {
        font-size: 43px!important;
    }

    .image-a {
        display: none;
    }

    .image-b {
        display: none;
    }

    .nous-titre {
        margin-top: 1em!important;
    }

    .nous-para {
        line-height: 0.8;
    }

    .absolute {
        display: flex;
        justify-content: center;
        margin-right: 250px!important;
       
       }

    .sub {
        display: flex;
        justify-content: center;
        
        
    }

    .feuill-colonne {
        visibility: hidden;
    }

    .feuill {
        display: none;
    }

    .formm {
        display: flex;
        justify-content: center;
    }

    .form-img{
        visibility: hidden;
    }

    .colonnee{
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .grp-images {
        max-width: 750px!important;
        width: 750px!important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
     
        align-items: center;
        
    }

    .grp-images img {
        width: 300px!important;
        display: flex;
        align-items: center;
    }

    

    .colonne1 {
        width: 300px!important;
        margin-left: 30px;
       
    }

    .colonne2 {
        margin-left: 20px!important;
    }

    .form-label {
        width: 300px!important;
    }

    .numero {
        margin-left: 63px!important;
        margin-top: 0px;
    }

    .nous-ren-col {
        background-image: none;
    }

    .wpcf7-submit {
        margin-left: 270px!important;
    }

    .l {
        font-size: 35px;
        text-align: start;
    }
    
   
}

/* Responsive tablette */

@media (min-width: 631px) and (max-width: 781px) {

    body {
        overflow-x: hidden;
        
    }

    #site-header-inner.clr {
        max-width: 768px!important;
    }

   .article-1 {
    font-size: 30px;
   }

   .para-3 {
    font-size: 18px;
   }
    
    .galerie-1 {
        display: flex!important;
        flex-direction: column!important ;
        align-items: center!important;
        
    }


    .wp-block-cover__background .has-background-dim-0 .has-background-dim  {
        width: 100%!important;
        max-width: 500px;
        object-fit: cover!important;
    }

    .img-p {
        font-size: 48px!important;
    }

    .image-a {
        display: none;
    }

    .image-b {
        display: none;
    }

    .nous-titre {
        margin-top: 1em!important;
    }

    .nous-para {
        line-height: 0.8;
    }

    .nous-ren-col {
        background-image: none;
    }

    .absolute {
        display: flex;
        justify-content: center;
        
       
       }

       .sub {
        display: flex;
        justify-content: center;
        
        
       }

    .feuill-colonne {
        visibility: hidden;
    }

    .feuill {
        display: none;
    }

    .formm {
        display: flex;
        justify-content: center;
    }

    .form-img{
        visibility: hidden;
    }

    .colonnee{
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .grp-images {
        max-width: 680px!important;
        width: 680px!important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .grp-images img {
        width: 300px!important;
        display: flex;
        align-items: center;
    }

    .numero {
        margin: 0px!important;
    }

    .colonne1 {
        width: 300px!important;
        margin-left: 30px;
       
    }

    .colonne2 {
        margin-left: 0px!important;
    }

    .form-label {
        width: 250px!important;
    }

    .numero {
        margin-left: 130px!important;
    }

    .wpcf7-submit {
        margin-left: 260px!important;
    }

    .l {
        font-size: 35px;
    }
    
   
}

/* Responsive smartphone */
@media (min-width: 320px) and (max-width: 480px) {

    .custom-logo {
        max-width: 200px!important;
        margin-left: 10px;
    }
    
    .accueil-titre {
        font-size: 25px!important;
        display: flex!important;
        text-align: center;
        justify-content: center!important;
        max-width: 100%!important;
       
       }

       .galerie-1 {
        display: flex!important;
        flex-direction: column!important ;
        align-items: center!important;
        justify-content: flex-start;
        
    }

       .absolute {
        display: flex;
        justify-content: center;
       
       }

       .sub {
        display: flex;
        justify-content: center;
        
        
       }

    .image-a{
        display: none;
    }

    .image-b {
        display: none;
    }

    .image-c {
        display: none;
    }

    .section-2 {
        display: flex;
        justify-content: center;
    }

    .para-2 {
        line-height: 1;
    }

    .nous-ren-col {
        background-image: none;
    }

    .img-p {
        font-size: 25px!important;
    }

    .img {
        max-width: 300px!important;
        width: 300px!important;
    }

    .titre-4 {
        font-size: 25px!important;
    }

    .bas-de-page {
        display: none;
    }

    .nous-titre {
        font-size: 25px;
        margin-top: 75px!important;
    }

    .feuill {
        display: none;
    }

    .nous-para {
        line-height: 0.8;
        
    }

    .wpforms-field-small {
        width: 310px!important;
    }

    .wpforms-field-large {
        width: 310px!important;
    }

    .wpforms-submit-container {
        margin: 0px 50px!important;
    }

    .wp-image-277 {
        display: none;
    }

    .commande-titre {
        font-size: 25px!important;
    }

    .titre_image {
        max-width: 600px!important;
        
    }

    

    .grp-images {
        max-width: 600px!important;
        padding: 0px;
        display: flex ;
        flex-direction: column;
        align-items: center;
        border: none;
    }

    .colonne1 {
        width: 100%;
        margin-left: 30px;
    }

    .colonne2 {
        width: 100%;
        margin-left: 30px;
        padding-left: 0px;
        border: none;
    }

    .form-wrap {
        display: flex;
        flex-direction: column;
       }

    .l{
        font-size: 30px;
        max-width: 320px!important;
        text-align: center;
    }

    .form-label {
        max-width: 280px!important;
    }

    .wpcf7-submit {
        margin: 0px!important;
        margin-top: 20px!important;
        margin-left: 60px!important;
    }

    body {
        overflow-x: hidden; 
    }
}

/* Responsive intermédiaire */
@media (min-width: 481px) and (max-width: 631px) {

    .custom-logo {
        max-width: 200px!important;
        margin-left: 10px;
    }
    
    .accueil-titre {
        font-size: 30px!important;
        display: flex!important;
        text-align: center;
        justify-content: center!important;
        max-width: 100%!important;
       
    }

    .galerie-1 {
        display: flex!important;
        flex-direction: column!important ;
        align-items: center!important;
        justify-content: flex-start;
        
    }

    .absolute {
        display: flex;
        justify-content: center;
       
       }

    .sub {
        display: flex;
        justify-content: center;
    }

    .article-1 {
        font-size: 30px!important;
    } 

    .para-3 {
        font-size: 18px;
    }

    .form-img {
        visibility: hidden;
    }

    .image-a{
        display: none;
    }

    .image-b {
        display: none;
    }

    .nous-ren-col {
        background-image: none;
    }

    .image-c {
        display: none;
    }

    .section-2 {
        display: flex;
        justify-content: center;
    }

    .para-2 {
        line-height: 1;
    }

    .img-p {
        font-size: 25px!important;
    }

    .img {
        max-width: 400px!important;
        width: 400px!important;
    }

    .titre-4 {
        font-size: 25px!important;
    }

    .bas-de-page {
        display: none;
    }

    .nous-titre {
        font-size: 25px;
        margin-top: 75px!important;
    }

    .feuill {
        display: none;
    }

    .nous-para {
        line-height: 0.8;
        
    }

    .wpforms-field-small {
        width: 310px!important;
    }

    .wpforms-field-large {
        width: 310px!important;
    }

    .wpforms-submit-container {
        margin: 0px 50px!important;
    }

    .wp-image-277 {
        display: none;
    }

    .commande-titre {
        font-size: 37px!important;
    }

    .titre_image {
        max-width: 630px!important;
        
    }

    

    .grp-images {
        width: 400px!important;
        padding: 0px;
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border: none;
    }

    .titre_image img {
        width: 300px!important;
    }

    .numero {
       padding: 0px!important;
    }

    .form-wrap{
        display: flex;
        flex-direction: column;
    }

    .colonne1 {
        width: 100%;
        margin-left: 20px;
    }

    .colonne2 {
        width: 100%;
        margin-left: 20px;
        padding-left: 0px;
        border: none;
    }

   
    .l{
        font-size: 35px;
        max-width: 630px!important;
        margin-left: 0px;
       
    }

    .form-label {
        width: 400px!important;
    }

    .wpcf7-submit {
        margin: 0px!important;
        margin-top: 20px!important;
        margin-left: 120px!important;
    }

    body {
        overflow-x: hidden; 
    }
}